<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureWeb - Invocação e tecnologia</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>


<body>

    <nav id="menu-h">
        <img id="logo2" src="/logo2.png" href="index.html"><align="left"</a>
        <a id="name_logo" href="index.html">FutureWeb</a>
        
        <ul>
            <li>
            <li><a href="index.html">Inicio</a></li>

            <li><a href="">Trabalho</a></li>

            <li><a href="#">Quem Somos</a></li>

            <li><a href="#">Contato</a></li>

            <li><a href="#">Entrar</a></li>
        </ul>
    </nav>
    </ul>
    </nav>
    </ul>

    </hgroup>


    </header>

    <h2>Formulário</h2>    

    </nav>


    <section id="principal">

    <section id="principal">

        <div id="formulario">

            <h2>Fale conosco</h2>

            <form action="../controllers/contatocontroller.php" method="POST" name="contato"
            oninput="out_investimento.value=parseInt(rng_investimento.value)">

                <!-- <input tabindex="1"> tabindex para colocar a ordem do tab -->

                Nome
                <label for="nome"></label>
                <input type="text" id="nome" name="txtNome" placeholder="Seu nome">
                

                <br />

                <label for="mês">Mês do Nascimento</label>
                <input type="month" id="mês" name="txtMes">

                <br />

                <label for="CPF">CPF</label>
                <input type="" id="contato" name="txtCpf" placeholder="xxx.xxx.xx-xx">


                <br />

                <label for="Cep">Cep</label>
                <input type=cep" id="contato" name="txtCep" placeholder="Informe o CEP">
                <input type="submit" id="pesquisar" name="btnPesquisar" value="Buscar CEP">


                <br />

                <label for="endereco">Endereço</label>
                <input type="text" id="enderco" name="txtEndereco" placeholder="R. Voluntários da Pátria">
                
                <br />

                <label for="bairro">Bairro</label>
                <input type="text" id="bairro" name="txtBairro" placeholder="Santana">

                <br />

                <label for="cidade">Cidade</label>
                <input type="text" id="cidade" name="txtCidade" placeholder="São Paulo">

                <br />
                
                <label for="uf">UF</label>
                <input type="text" id="cidade" name="txtUF" placeholder="UF">

                <br />

                <label for="Telefone">Telefone</label>
                <input type="text" id="cidade" name="txtFone" placeholder="(00) 0 0000-0000">

                <br />

                <label for="email">E-mail</label>
                <input type="email" id="email" name="txtEmail" maxlength="30" required placeholder="Ex.: email@email.com">

                <br />

                <!-- <label for="prazo">Prazo de entrega em meses</label>
                <input type="number" id="prazo" name="intPrazo" maxlength="2" max="24" min="2" step="2">  -->

                <input type="submit" id="enviar" name="btnEnviar" value="Enviar formulario">
                
                <input type="reset" id="limpar" name="btnLimpar" value="Limpar formulario">

                <input type="reset" id="limpar" name="btnLimpar" value="L">




            </form>

        </div>


    </section>


                <div id="luccaslindo">
                   

                    <h2>Web Services </h2>

                    <ul>
                        <li><a href="index.html">Web Designing</a></li>
                        <li><a href="index.html">HTML5 Website Designing</a></li>
                        <li><a href="index.html">E-Commerce Development</a></li>
                        <li><a href="index.html">SEO & Marketing</a></li>
                        <li><a href="index.html">Corporate Identity</a></li>
                        <li><a href="index.html">Web Hosting</a></li>
                    </ul>


                </div>

                <section>
                <div>

                    <h2>Busca</h2>
                    <img id="search_botton" src=""  alt="Pesquisar" size="20px">
                    <input type="search" placeholder="Buscar" id="barra-pesquisa" />


                </div>
            </section>
        </aside>

    </section>

    <nav>
        <ul>

            <li><a href="">Inicio</a></li>
            <li><a href="">Trabalhos</a></li>
            <li><a href="">Sobre Nós</a></li>
            <li><a href="">Contato</a></li>

            
    <figure id="redes_sociais">

        </p>

    </figure>

        </ul>

    </nav>

    </div>

</body>

</html>